body{
    margin-top: 200px;
}
p{
    margin-top:5px;
    color: black;
    font-size: 15px;
    text-align: left;
}

.border{
    border: 1px solid black;
    margin: 25px 25px;
}

button{
    background: red;
    color: white;
}

img{
    height: 250px;
    width: 300px;
}


.table-con
{
 margin: 30px;
}

.pay-button{
    float: right;
}